In [2]:
# from google.colab import drive
# drive.mount('/content/drive')

In [3]:
import pandas as pd

df_bb = pd.read_csv('./data/imdb_barbie_Uncleaned.csv', header=None)
df_op = pd.read_csv('./data/imdb_oppenhimmer_Uncleaned.csv', header=None)
df_bb.drop_duplicates(inplace=True)
df_op.drop_duplicates(inplace=True)

In [4]:
import re

score_Reg = '(\d{1,2})\/\d{1,2}\s.*\s'
title_Reg = '\d{1,2}\/\d{1,2}\s(.*)'
people_found_helpful_Reg = '([\d,]*) out of ([\d,]*) found this helpful'
username_Reg = '\d{1,2}\/\d{1,2}\s.*\s([A-Za-z0-9_-]+)\d{2}\s(?:January|February|March|April|June|July|August|September|October|November|December)'
date_Reg = '(\d{1,2}\s(?:January|February|March|April|June|July|August|September|October|November|December)\s\d{4})'
review_Reg = '\d{1,2}\s\w+\s\d{4}\s([\s\S]*)\s[\d,]* out of [\d,]* found this helpful'

In [5]:
# Regular Expression test code

test_text = df_bb.iloc[0][0]

# print(test_text)

res = re.findall(score_Reg, test_text)
print(res)

res = re.findall(title_Reg, test_text)
print(res)

res = re.findall(username_Reg, test_text)
print(res)

res = re.findall(date_Reg, test_text)
print(res)

res = re.findall(people_found_helpful_Reg, test_text)
print(res)
print(int(res[0][0].replace(',', '')))
print(int(res[0][1].replace(',', '')))

res = re.findall(review_Reg, test_text)
# print(res)

['6']
['Creative but preachy and confusing']
['Imshortok06']
['23 July 2023']
[('1,007', '1,363')]
1007
1363
['I\'m just going to get straight to the point: I liked some aspects of this movie and disliked other parts. Cinematography: awesome. Choreographed musical numbers: hilarious. Comedy: good. Margot Robbie: great. Ryan Gosling: awesome, and arguably the best part of the movie. The scenery and props really did help create the world. The storyline started off very intriguing. However, when the movie got to the meat of the plot and the central conflict, its message became confusing. It\'s like they wanted to make Ken the bad guy yet also sympathetic, which is not impossible or unheard of, but the way the writers did this was ineffective. Also, the resolution didn\'t make sense based on the message and events that led up to it. Lastly, I really hate it when movies try to empower women by dumbing down the men. I get that in a Barbie world, Ken is an afterthought, but in the real world all men were also dumb. They also treated masculine qualities as "evil." I hate stereotyping people, men included, and it\'s like all men ride horses and have fragile egos and drink "brewskies." And for goodness sake, if I had a dollar for every time the movie said "patriarchy", I\'d be rich. So, overall, I give this movie a 6/10.']

In [6]:
# Clean every row in data set

def get_cleaned_df(dirty_df):
	# cleaned_df = pd.DataFrame(columns=['score', 'title', 'username', 'date', 'people_found_helpful', 'review'])
	cleaned_df = pd.DataFrame(columns=['score', 'title', 'username', 'date', 'people_found_helpful', 'total_people_viewed', 'review'])

	for index in range(len(dirty_df)):
		row = dirty_df.iloc[index][0]

		score = re.findall(score_Reg, row)
		title = re.findall(title_Reg, row)
		username = re.findall(username_Reg, row)
		date = re.findall(date_Reg, row)
		people_found_helpful = re.findall(people_found_helpful_Reg, row)
		review = re.findall(review_Reg, row)

		if not score:
			score = 'NULL'
			continue
		else:
			score = int(score[0])
		if not title:
			title = ['NULL']
		if not username:
			username = ['NULL']
		if not date:
			date = ['NULL']
		if not people_found_helpful:
			people_found_helpful = 'NULL'
			total_people_viewed = 'NULL'
		else:
			total_people_viewed = int(people_found_helpful[0][1].replace(',', ''))
			people_found_helpful = int(people_found_helpful[0][0].replace(',', ''))
		if not review:
			review = ['NULL']

		cleaned_df.loc[index] = [score, title[0], username[0], date[0], people_found_helpful, total_people_viewed, review[0]]
	return cleaned_df

In [7]:
cleand_df_bb = get_cleaned_df(df_bb)
cleand_df_bb.drop_duplicates(subset=['username'], inplace=True)

In [8]:
cleand_df_op = get_cleaned_df(df_op)
cleand_df_op.drop_duplicates(subset=['username'], inplace=True)

In [9]:
cleand_df_op

,score,title,username,date,people_found_helpful,total_people_viewed,review
0,9,Murphy is exceptional,Orlando_Gardner,19 July 2023,1413,1597,You'll have to have your wits about you and yo...
1,8,"A challenging watch to be sure, but a worthwhi...",Jeremy_Urquhart,20 July 2023,685,819,One of the most anticipated films of the year ...
2,10,A brilliantly layered examination of a man thr...,MrDHWong,20 July 2023,556,691,"""Oppenheimer"" is a biographical thriller film ..."
3,10,Nolan delivers a powerfull biopic that shows t...,and_mikkelsen,20 July 2023,358,457,This movie is just... wow! I don't think I hav...
4,10,A Masterpiece,mohameddawoud-26019,19 July 2023,670,833,I may consider myself lucky to be alive to wat...
...,...,...,...,...,...,...,...
2031,7,"Huge story, but production fails sometimes",andreverschoor,27 July 2023,1,3,"Loved the movie, loved the actors efforts. Aft..."
2032,6,Tweaked,fmacr,25 July 2023,1,7,"I suppose these reviews are tweaked, otherwise..."
2033,6,Just a 6 for a near perfect film.,m-nicolaou-86-661254,24 July 2023,0,1,Ok let me start by the obvious ratings which w...
2034,6,No need to be 3 hours,scottahaynie,24 July 2023,0,0,Acting was tremendous and the true story behin...
2035,6,Disappointing,krisdevos,22 July 2023,0,0,Totally underwhelmed with Oppenheimer.\n\nEnri...

In [10]:
import nltk

In [11]:
# combine the two data sets

cleand_df_bb['isBarbie'] = 1
cleand_df_op['isBarbie'] = 0

df = pd.concat([cleand_df_bb, cleand_df_op], ignore_index=True)

In [12]:
df

,score,title,username,date,people_found_helpful,total_people_viewed,review,isBarbie
0,6,Creative but preachy and confusing,Imshortok06,23 July 2023,1007,1363,I'm just going to get straight to the point: I...,1
1,6,"Beautiful film, but so preachy",LoveofLegacy,21 July 2023,1190,1646,"Margot does the best with what she's given, bu...",1
2,6,Clever and fun beginning turns into another le...,Binkconn,21 July 2023,804,1173,"Barbie begins in an irresistible way, as a fun...",1
3,8,It was depressing,coxaneesa,24 July 2023,152,242,Warning: Spoilers,1
4,9,A Technicolor Dream,heatherhilgers,24 July 2023,20,26,"Wow, this movie was a love letter to cinema. F...",1
...,...,...,...,...,...,...,...,...
2792,7,"Huge story, but production fails sometimes",andreverschoor,27 July 2023,1,3,"Loved the movie, loved the actors efforts. Aft...",0
2793,6,Tweaked,fmacr,25 July 2023,1,7,"I suppose these reviews are tweaked, otherwise...",0
2794,6,Just a 6 for a near perfect film.,m-nicolaou-86-661254,24 July 2023,0,1,Ok let me start by the obvious ratings which w...,0
2795,6,No need to be 3 hours,scottahaynie,24 July 2023,0,0,Acting was tremendous and the true story behin...,0
2796,6,Disappointing,krisdevos,22 July 2023,0,0,Totally underwhelmed with Oppenheimer.\n\nEnri...,0

In [41]:
print(len(df['review']))

2797

In [13]:
# Calculates the number of instances the word "Oppenheimer" was used
opp_inst = []
from collections import Counter
for i in range(len(df['review'])):
  count = Counter(df['review'][i].split())
  amount = count['Oppenheimer'] + count['oppenheimer']
  opp_inst.append(amount)

In [14]:
# Calculates the number of instances the word "Barbie" was used
barbie_inst = []
from collections import Counter
for i in range(len(df['review'])):
  count = Counter(df['review'][i].split())
  amount = count['Barbie'] + count['barbie']
  barbie_inst.append(amount)

In [15]:
# Calculates the number of instances the word "movie" was used
movie_inst = []
from collections import Counter
for i in range(len(df['review'])):
  count = Counter(df['review'][i].split())
  amount = count['Movie'] + count['movie']
  movie_inst.append(amount)

In [16]:
# Calculates the number of instances an exclamation mark was used
excl_inst = []
from collections import Counter
for i in range(len(df['review'])):
  count = Counter(df['review'][i])
  amount = count['!']
  excl_inst.append(amount)

In [17]:
sum(movie_inst)

4262

In [18]:
df['review'][2200]

"Personally, i think Christopher Nolan is the best director of all time. You have a different experience in each of his movies. The cast is great and this movie was one of my first times seeing Cillian Murphy and he was spectacular to say the least. It felt like every expression had a meaning. His performance will be talked a lot over the years. RDJ stole the show every scene he was in and i wish he got more screen time. Although the movie was dialogue driven every dialogue and every scene was like an action scene courtesy of Nolan. And the music REALLY helped this film given most of the movie was based on dialogues. I'm gonna watch the movie for the second time tomorrow because i couldn't get all the information and couldn't completely understand the film although it was pretty straightforward. There were a lot of stuff to unpack in the movie. I liked it very much and i highly suggest you watch this movie."

In [19]:
# Creating graphable data

# numeric_df = pd.DataFrame(columns=['isBarbie', 'score', 'people_found_helpful', 'total_people_viewed', 'helpful_ratio', 'date', 'date_from_release','length_of_title', 'length_of_username', 'length_of_review'])
numeric_df = pd.DataFrame(columns=['isBarbie', 'score', 'date', 'people_found_helpful', 'total_people_viewed','length_of_title', 'length_of_username', 'length_of_review'])


numeric_df['isBarbie'] = df['isBarbie']
numeric_df['score'] = df['score']
numeric_df['date'] = df['date']
numeric_df['total_people_viewed'] = df['total_people_viewed']
numeric_df['people_found_helpful'] = df['people_found_helpful']
#numeric_df['helpful_ratio'] = df['people_found_helpful'] / df['total_people_viewed']
numeric_df['length_of_title'] = df['title'].apply(lambda x: len(x))
numeric_df['length_of_username'] = df['username'].apply(lambda x: len(x))
numeric_df['length_of_review'] = df['review'].apply(lambda x: len(x))

numeric_df = numeric_df[~numeric_df['date'].str.contains('IMAX')]
numeric_df['date'] = pd.to_datetime(df['date'], format='%d %B %Y')
numeric_df['date_from_release'] = (numeric_df['date'] - pd.to_datetime('2023-07-23', format='%Y-%m-%d')).dt.days

In [20]:
numeric_df

,isBarbie,score,date,people_found_helpful,total_people_viewed,length_of_title,length_of_username,length_of_review,date_from_release
0,1,6,2023-07-23,1007,1363,34,11,1216,0
1,1,6,2023-07-21,1190,1646,30,12,786,-2
2,1,6,2023-07-21,804,1173,69,8,601,-2
3,1,8,2023-07-24,152,242,17,9,17,1
4,1,9,2023-07-24,20,26,19,14,1239,1
...,...,...,...,...,...,...,...,...,...
2792,0,7,2023-07-27,1,3,42,14,624,4
2793,0,6,2023-07-25,1,7,7,5,1152,2
2794,0,6,2023-07-24,0,1,33,20,1369,1
2795,0,6,2023-07-24,0,0,21,12,609,1
2796,0,6,2023-07-22,0,0,13,9,1070,-1

In [21]:
new_df = pd.DataFrame()
new_df['opp_inst'] = opp_inst
new_df['barbie_inst'] = barbie_inst
new_df['movie_inst'] = movie_inst
new_df['excl_inst'] = excl_inst
new_df['score'] = numeric_df['score']
new_df['date_from_release'] = numeric_df['date_from_release']
new_df['isBarbie'] = numeric_df['isBarbie']

In [22]:
new_df

,opp_inst,barbie_inst,movie_inst,excl_inst,score,date_from_release,isBarbie
0,0,1,4,0,6,0,1
1,0,0,0,0,6,-2,1
2,0,4,0,0,6,-2,1
3,0,0,0,0,8,1,1
4,0,1,2,0,9,1,1
...,...,...,...,...,...,...,...
2792,1,0,0,0,7,4,0
2793,0,0,2,0,6,2,0
2794,0,0,0,0,6,1,0
2795,0,0,0,0,6,1,0
2796,1,0,0,0,6,-1,0

In [23]:
# Shuffles samples
new_df = new_df.sample(frac = 1)
new_df

,opp_inst,barbie_inst,movie_inst,excl_inst,score,date_from_release,isBarbie
2043,0,0,6,0,10,-2,0
2240,1,0,4,0,10,0,0
2690,11,0,0,0,3,1,0
1137,3,0,0,0,9,1,0
433,0,0,0,1,10,0,1
...,...,...,...,...,...,...,...
659,0,1,3,0,10,3,1
860,0,0,0,0,10,-3,0
1512,1,0,0,0,10,-2,0
960,1,0,0,0,8,7,0
236,0,5,1,0,9,3,1

In [24]:
from sklearn.preprocessing import MinMaxScaler

In [25]:
from sklearn.neural_network import MLPClassifier

In [26]:
from keras.models import Sequential
from keras.layers import Dense

2023-09-11 21:53:51.390441: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2023-09-11 21:53:52.092805: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT

In [27]:
x_data = new_df.iloc[:,:6]
x_data

      opp_inst  barbie_inst  movie_inst  excl_inst  score  date_from_release
2043         0            0           6          0     10                 -2
2240         1            0           4          0     10                  0
2690        11            0           0          0      3                  1
1137         3            0           0          0      9                  1
433          0            0           0          1     10                  0
...        ...          ...         ...        ...    ...                ...
659          0            1           3          0     10                  3
860          0            0           0          0     10                 -3
1512         1            0           0          0     10                 -2
960          1            0           0          0      8                  7
236          0            5           1          0      9                  3

[2797 rows x 6 columns]

In [28]:
# Normalizes the predictor variables
scaler = MinMaxScaler()
normalized_inputs = pd.DataFrame(scaler.fit_transform(x_data), columns = x_data.columns)
normalized_inputs

,opp_inst,barbie_inst,movie_inst,excl_inst,score,date_from_release
0,0.000000,0.000000,0.230769,0.000000,1.000000,0.181818
1,0.071429,0.000000,0.153846,0.000000,1.000000,0.363636
2,0.785714,0.000000,0.000000,0.000000,0.222222,0.454545
3,0.214286,0.000000,0.000000,0.000000,0.888889,0.454545
4,0.000000,0.000000,0.000000,0.019608,1.000000,0.363636
...,...,...,...,...,...,...
2792,0.000000,0.041667,0.115385,0.000000,1.000000,0.636364
2793,0.000000,0.000000,0.000000,0.000000,1.000000,0.090909
2794,0.071429,0.000000,0.000000,0.000000,1.000000,0.181818
2795,0.071429,0.000000,0.000000,0.000000,0.777778,1.000000
2796,0.000000,0.208333,0.038462,0.000000,0.888889,0.636364

In [29]:
y_data = new_df['isBarbie']
y_data

2043    0
2240    0
2690    0
1137    0
433     1
       ..
659     1
860     0
1512    0
960     0
236     1
Name: isBarbie, Length: 2797, dtype: int64

In [30]:
# Builds all the layers of the neural network
classifier = Sequential() # Initialising the ANN

classifier.add(Dense(units = 16, activation = 'sigmoid', input_dim = 6))
classifier.add(Dense(units = 8, activation = 'sigmoid'))
classifier.add(Dense(units = 4, activation = 'sigmoid'))
classifier.add(Dense(units = 1, activation = 'sigmoid'))

2023-09-11 21:53:52.862030: I tensorflow/compiler/xla/stream_executor/cuda/cuda_gpu_executor.cc:995] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero. See more at https://github.com/torvalds/linux/blob/v6.0/Documentation/ABI/testing/sysfs-bus-pci#L344-L355
2023-09-11 21:53:52.904752: W tensorflow/core/common_runtime/gpu/gpu_device.cc:1960] Cannot dlopen some GPU libraries. Please make sure the missing libraries mentioned above are installed properly if you would like to use GPU. Follow the guide at https://www.tensorflow.org/install/gpu for how to download and setup the required libraries for your platform.
Skipping registering GPU devices...

In [31]:
import tensorflow as tf

In [32]:
# Uses stochastic gradient descent as optimizer
opt = tf.keras.optimizers.Adam(learning_rate=1e-03)
classifier.compile(optimizer = opt,loss = 'binary_crossentropy')

In [33]:
from sklearn.model_selection import train_test_split

In [34]:
# Splits dataset into training and testing
x_train, x_test = train_test_split(normalized_inputs, test_size=0.1, random_state=36)
y_train, y_test = train_test_split(y_data, test_size=0.1, random_state=36)

In [35]:
# Runs the training
history = classifier.fit(x_train, y_train, batch_size = 30, epochs = 100)

Epoch 1/100
84/84 [==============================] - 1s 1ms/step - loss: 0.7263
Epoch 2/100
84/84 [==============================] - 0s 1ms/step - loss: 0.6414
Epoch 3/100
84/84 [==============================] - 0s 1ms/step - loss: 0.6100
Epoch 4/100
84/84 [==============================] - 0s 1ms/step - loss: 0.6002
Epoch 5/100
84/84 [==============================] - 0s 1ms/step - loss: 0.5976
Epoch 6/100
84/84 [==============================] - 0s 1ms/step - loss: 0.5969
Epoch 7/100
84/84 [==============================] - 0s 1ms/step - loss: 0.5966
Epoch 8/100
84/84 [==============================] - 0s 1ms/step - loss: 0.5966
Epoch 9/100
84/84 [==============================] - 0s 1ms/step - loss: 0.5965
Epoch 10/100
84/84 [==============================] - 0s 1ms/step - loss: 0.5963
Epoch 11/100
84/84 [==============================] - 0s 1ms/step - loss: 0.5962
Epoch 12/100
84/84 [==============================] - 0s 1ms/step - loss: 0.5959
Epoch 13/100
84/84 [==============================] - 0s 1ms/step - loss: 0.5957
Epoch 14/100
84/84 [==============================] - 0s 1ms/step - loss: 0.5955
Epoch 15/100
84/84 [==============================] - 0s 2ms/step - loss: 0.5951
Epoch 16/100
84/84 [==============================] - 0s 1ms/step - loss: 0.5947
Epoch 17/100
84/84 [==============================] - 0s 1ms/step - loss: 0.5943
Epoch 18/100
84/84 [==============================] - 0s 1ms/step - loss: 0.5936
Epoch 19/100
84/84 [==============================] - 0s 1ms/step - loss: 0.5925
Epoch 20/100
84/84 [==============================] - 0s 1ms/step - loss: 0.5914
Epoch 21/100
84/84 [==============================] - 0s 1ms/step - loss: 0.5902
Epoch 22/100
84/84 [==============================] - 0s 1ms/step - loss: 0.5885
Epoch 23/100
84/84 [==============================] - 0s 1ms/step - loss: 0.5860
Epoch 24/100
84/84 [==============================] - 0s 2ms/step - loss: 0.5829
Epoch 25/100
84/84 [==============================] - 0s 1ms/step - loss: 0.5792
Epoch 26/100
84/84 [==============================] - 0s 1ms/step - loss: 0.5746
Epoch 27/100
84/84 [==============================] - 0s 1ms/step - loss: 0.5693
Epoch 28/100
84/84 [==============================] - 0s 1ms/step - loss: 0.5627
Epoch 29/100
84/84 [==============================] - 0s 1ms/step - loss: 0.5552
Epoch 30/100
84/84 [==============================] - 0s 1ms/step - loss: 0.5466
Epoch 31/100
84/84 [==============================] - 0s 1ms/step - loss: 0.5374
Epoch 32/100
84/84 [==============================] - 0s 2ms/step - loss: 0.5269
Epoch 33/100
84/84 [==============================] - 0s 1ms/step - loss: 0.5156
Epoch 34/100
84/84 [==============================] - 0s 2ms/step - loss: 0.5056
Epoch 35/100
84/84 [==============================] - 0s 1ms/step - loss: 0.4944
Epoch 36/100
84/84 [==============================] - 0s 1ms/step - loss: 0.4834
Epoch 37/100
84/84 [==============================] - 0s 1ms/step - loss: 0.4730
Epoch 38/100
84/84 [==============================] - 0s 1ms/step - loss: 0.4631
Epoch 39/100
84/84 [==============================] - 0s 1ms/step - loss: 0.4545
Epoch 40/100
84/84 [==============================] - 0s 1ms/step - loss: 0.4459
Epoch 41/100
84/84 [==============================] - 0s 1ms/step - loss: 0.4377
Epoch 42/100
84/84 [==============================] - 0s 1ms/step - loss: 0.4324
Epoch 43/100
84/84 [==============================] - 0s 2ms/step - loss: 0.4244
Epoch 44/100
84/84 [==============================] - 0s 1ms/step - loss: 0.4191
Epoch 45/100
84/84 [==============================] - 0s 1ms/step - loss: 0.4120
Epoch 46/100
84/84 [==============================] - 0s 1ms/step - loss: 0.4082
Epoch 47/100
84/84 [==============================] - 0s 1ms/step - loss: 0.4020
Epoch 48/100
84/84 [==============================] - 0s 1ms/step - loss: 0.3996
Epoch 49/100
84/84 [==============================] - 0s 1ms/step - loss: 0.3958
Epoch 50/100
84/84 [==============================] - 0s 1ms/step - loss: 0.3903
Epoch 51/100
84/84 [==============================] - 0s 1ms/step - loss: 0.3877
Epoch 52/100
84/84 [==============================] - 0s 1ms/step - loss: 0.3832
Epoch 53/100
84/84 [==============================] - 0s 1ms/step - loss: 0.3817
Epoch 54/100
84/84 [==============================] - 0s 1ms/step - loss: 0.3771
Epoch 55/100
84/84 [==============================] - 0s 1ms/step - loss: 0.3757
Epoch 56/100
84/84 [==============================] - 0s 1ms/step - loss: 0.3727
Epoch 57/100
84/84 [==============================] - 0s 1ms/step - loss: 0.3744
Epoch 58/100
84/84 [==============================] - 0s 1ms/step - loss: 0.3690
Epoch 59/100
84/84 [==============================] - 0s 1ms/step - loss: 0.3671
Epoch 60/100
84/84 [==============================] - 0s 1ms/step - loss: 0.3655
Epoch 61/100
84/84 [==============================] - 0s 1ms/step - loss: 0.3635
Epoch 62/100
84/84 [==============================] - 0s 1ms/step - loss: 0.3622
Epoch 63/100
84/84 [==============================] - 0s 1ms/step - loss: 0.3605
Epoch 64/100
84/84 [==============================] - 0s 1ms/step - loss: 0.3591
Epoch 65/100
84/84 [==============================] - 0s 1ms/step - loss: 0.3592
Epoch 66/100
84/84 [==============================] - 0s 1ms/step - loss: 0.3570
Epoch 67/100
84/84 [==============================] - 0s 1ms/step - loss: 0.3558
Epoch 68/100
84/84 [==============================] - 0s 988us/step - loss: 0.3556
Epoch 69/100
84/84 [==============================] - 0s 1ms/step - loss: 0.3538
Epoch 70/100
84/84 [==============================] - 0s 995us/step - loss: 0.3530
Epoch 71/100
84/84 [==============================] - 0s 999us/step - loss: 0.3531
Epoch 72/100
84/84 [==============================] - 0s 1ms/step - loss: 0.3531
Epoch 73/100
84/84 [==============================] - 0s 1ms/step - loss: 0.3511
Epoch 74/100
84/84 [==============================] - 0s 1ms/step - loss: 0.3512
Epoch 75/100
84/84 [==============================] - 0s 1ms/step - loss: 0.3505
Epoch 76/100
84/84 [==============================] - 0s 1ms/step - loss: 0.3497
Epoch 77/100
84/84 [==============================] - 0s 1ms/step - loss: 0.3488
Epoch 78/100
84/84 [==============================] - 0s 938us/step - loss: 0.3486
Epoch 79/100
84/84 [==============================] - 0s 1ms/step - loss: 0.3481
Epoch 80/100
84/84 [==============================] - 0s 1ms/step - loss: 0.3476
Epoch 81/100
84/84 [==============================] - 0s 943us/step - loss: 0.3475
Epoch 82/100
84/84 [==============================] - 0s 1ms/step - loss: 0.3475
Epoch 83/100
84/84 [==============================] - 0s 1ms/step - loss: 0.3488
Epoch 84/100
84/84 [==============================] - 0s 1ms/step - loss: 0.3467
Epoch 85/100
84/84 [==============================] - 0s 1ms/step - loss: 0.3468
Epoch 86/100
84/84 [==============================] - 0s 1ms/step - loss: 0.3463
Epoch 87/100
84/84 [==============================] - 0s 1ms/step - loss: 0.3458
Epoch 88/100
84/84 [==============================] - 0s 1ms/step - loss: 0.3462
Epoch 89/100
84/84 [==============================] - 0s 1ms/step - loss: 0.3465
Epoch 90/100
84/84 [==============================] - 0s 1ms/step - loss: 0.3458
Epoch 91/100
84/84 [==============================] - 0s 1ms/step - loss: 0.3470
Epoch 92/100
84/84 [==============================] - 0s 1ms/step - loss: 0.3454
Epoch 93/100
84/84 [==============================] - 0s 1ms/step - loss: 0.3449
Epoch 94/100
84/84 [==============================] - 0s 1ms/step - loss: 0.3469
Epoch 95/100
84/84 [==============================] - 0s 1ms/step - loss: 0.3457
Epoch 96/100
84/84 [==============================] - 0s 1ms/step - loss: 0.3456
Epoch 97/100
84/84 [==============================] - 0s 1ms/step - loss: 0.3439
Epoch 98/100
84/84 [==============================] - 0s 1ms/step - loss: 0.3451
Epoch 99/100
84/84 [==============================] - 0s 1ms/step - loss: 0.3448
Epoch 100/100
84/84 [==============================] - 0s 1ms/step - loss: 0.3441

In [36]:
# Predicts what type of bean based on the x values
yhat_test = classifier.predict(x_test)
yhat_test[:5]

9/9 [==============================] - 0s 777us/step

array([[0.18991905],
       [0.00992944],
       [0.8992819 ],
       [0.01133825],
       [0.23357864]], dtype=float32)

In [37]:
new_yhat_test = [ 1 if y>=0.5 else 0 for y in yhat_test ]

In [38]:
new_yhat_test[:5]

[0, 0, 1, 0, 0]

In [39]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, new_yhat_test)

array([[209,   3],
       [ 28,  40]])

In [40]:
# Calculates precision and recall
from sklearn.metrics import classification_report
print(classification_report(y_test, new_yhat_test))

              precision    recall  f1-score   support

           0       0.88      0.99      0.93       212
           1       0.93      0.59      0.72        68

    accuracy                           0.89       280
   macro avg       0.91      0.79      0.83       280
weighted avg       0.89      0.89      0.88       280